<a href="https://colab.research.google.com/github/hvjha/AWA/blob/Statistics/stat_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Example 1

In [ ]:
import pandas as pd #handling data
import random #randomly pick cluster

In [8]:
data = {
    'studentID': list(range(1,21)),
    'class':['A','A','A','A','A','B','B','B','B','B','C','C','C','C','C','D','D','D','D','D']
}
df = pd.DataFrame(data)
#print(df)

In [21]:
#cluster sampling
#Unique classes
classes = df['class'].unique().tolist()
#print(classes)
selected_clusters = random.sample(classes,2)
print(selected_clusters)

['D', 'C']

In [22]:
#Take all student from selected clusters
selected_students = df[df['class'].isin(selected_clusters)]
print(selected_students)

    studentID class
10         11     C
11         12     C
12         13     C
13         14     C
14         15     C
15         16     D
16         17     D
17         18     D
18         19     D
19         20     D