<a href="https://colab.research.google.com/github/hvjha/AWA/blob/Statistics/stat_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#systematic Sampling

```
Generate 1000 student with random grade and ratings
Applies ss by picking every 10th student
start at a random position so reduce bias
```

In [3]:
import pandas as pd
import random

In [5]:
num_student = 1000
data = {
    'studentID':list(range(1,num_student+1)),
    'Name':[f'Student_{i}' for i in range(1,num_student+1)],
    'Grade':[random.choice(['Grade 6','Grade 7', 'Grade 8', 'Grade 9', 'Grade 10']) for _ in range(num_student)],
    'Canteen_Rating':[random.randint(1,5) for _ in range(num_student)],
    'Transport_Rating':[random.randint(1,5) for _ in range(num_student)]
}
df = pd.DataFrame(data)
print(df.head(20))

    studentID        Name     Grade  Canteen_Rating  Transport_Rating
0           1   Student_1   Grade 8               1                 2
1           2   Student_2   Grade 9               5                 3
2           3   Student_3   Grade 9               3                 2
3           4   Student_4   Grade 6               3                 1
4           5   Student_5  Grade 10               2                 5
5           6   Student_6   Grade 7               3                 4
6           7   Student_7   Grade 7               5                 1
7           8   Student_8   Grade 8               4                 4
8           9   Student_9   Grade 7               2                 4
9          10  Student_10  Grade 10               4                 4
10         11  Student_11  Grade 10               3                 3
11         12  Student_12  Grade 10               1                 3
12         13  Student_13   Grade 9               1                 5
13         14  Student_14   Grade 9               1                 4
14         15  Student_15   Grade 9               5                 5
15         16  Student_16   Grade 6               3                 4
16         17  Student_17   Grade 9               4                 1
17         18  Student_18   Grade 9               5                 5
18         19  Student_19   Grade 6               1                 4
19         20  Student_20   Grade 6               3                 2

In [8]:
#setup systematic sampling
sample_size = 100
interval = num_student // sample_size
random_start = random.randint(0,interval-1)

#Perform ss
systematic_sample = df.iloc[random_start::interval]
#show some interval data
print(f"\n ss of {sample_size} students(every{interval} th student from {random_start}) :");
print(systematic_sample.head(20))

 ss of 100 students(every10 th student from 2) :
     studentID         Name     Grade  Canteen_Rating  Transport_Rating
2            3    Student_3   Grade 9               3                 2
12          13   Student_13   Grade 9               1                 5
22          23   Student_23   Grade 9               5                 3
32          33   Student_33   Grade 8               3                 3
42          43   Student_43   Grade 8               1                 1
52          53   Student_53   Grade 8               1                 3
62          63   Student_63   Grade 6               3                 5
72          73   Student_73   Grade 9               1                 3
82          83   Student_83   Grade 8               5                 3
92          93   Student_93   Grade 7               2                 5
102        103  Student_103  Grade 10               3                 5
112        113  Student_113   Grade 6               1                 3
122        123  Student_123   Grade 6               1                 3
132        133  Student_133   Grade 9               1                 4
142        143  Student_143   Grade 6               1                 2
152        153  Student_153   Grade 9               1                 4
162        163  Student_163   Grade 7               1                 3
172        173  Student_173   Grade 9               1                 5
182        183  Student_183   Grade 9               4                 1
192        193  Student_193   Grade 7               3                 4